node_modules
dist
build
coverage
.next
.vercel
.env
.env.local
.env.production.local
.env.development.local
*.log
*.lock
package-lock.json
yarn.lock
.github

# Hugo specific
layouts/
themes/
content/
static/
public/
resources/
hugo.toml
*.toml