 {{- $images := slice -}}
{{- if .Params.cover.image -}}
  {{- if (ne .Params.cover.relative true) }}
    {{- $images = $images | append (.Params.cover.image | absURL) -}}
  {{- else -}}
    {{- $images = $images | append ((path.Join .RelPermalink .Params.cover.image) | absURL) -}}
  {{- end -}}
{{- else -}}
  {{- with partial "_funcs/get-page-images" . -}}
    {{- range . -}}
      {{- $images = $images | append .Permalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if not $images -}}
  {{- with site.Params.images -}}
    {{- range . -}}
      {{- $images = $images | append (. | absURL) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with index $images 0 -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ . }}">
{{- else -}}
<meta name="twitter:card" content="summary">
{{- end -}}
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
