<style>
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  .photo-grid img {
    width: 100%;
    height: auto;
  }
</style>
<div class="photo-grid">
{{ $inner := .Inner }}
{{ $images := findRE `!\[.*?\]\((.*?)\)` $inner }}
{{ range $images }}
  {{ $imageUrl := index (findRE `\((.*?)\)` .) 0 | replaceRE `\(|\)` "" }}
  {{ $image := $.Page.Resources.GetMatch (printf "%s" $imageUrl) }}
  {{ if $image }}
    <img src="{{ $image.RelPermalink }}" alt="{{ $image.Title }}">
  {{ end }}
{{ end }}
</div>